body{
    margin: 0;
    padding: 0;
}

#tools{
    height: 72px;
}

.button{
    display: block;
    width: 48px;
    height: 48px;
    position: fixed;
    margin: 12px;

}

.button.favorite.on {
    background-image: url('/flashy/public/images/favorite.png');
    background-size: 48px 48px;
    background-position:center;
    right: 0px;
    top: 0px;
}

.button.favorite{
    background-image: url('/flashy/public/images/unfavorite.png');
    background-size: 48px 48px;
    background-position: center;
    right: 0px;
    top: 0px;
}
}

.button.menu {
    background-image: url('/flashy/public/images/heartIcon.gif');
    background-size: 48px 48px;
    right: 0px;
    top: 0px;
}

.button.back {
    background-image: url('/flashy/public/images/back_icon.png');
    background-size: 48px 48px;
    left: 0px;
    top: 0px;
}

#deck{
    width: 960px;
    margin: 0px auto;
}

.deck_slider{
    overflow: hidden;
    position: relative;
}

.cardShield{
    width: 960px;
    height: 600px;
    float: left;
    text-align: center;
    position: relative;
}

.navigation{
    width: 80px;
    height: 100%;
    position: absolute;
    top: 0;
    cursor: pointer;
    font-size: 32px;
}

.navigation.left{
    left: 0;
}

.navigation.right{
    right: 0;
}

.card{

}

.view{
    width: 360px;
    height: 240px;
    margin: 0px auto;
    cursor: pointer;
    border: 1px solid #333;
    text-align: center;
}

p {
    text-align: center;
}

.view.stacked{
    width: 360px;
    height: 240px;
}

.header {
    font-size: 8px;
    font-color: D3D3D3;
}

.back p:n-child(1) {
    font-size: 14px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.front p:n-child(1) {
    font-size: 16px;
    font-weight:bold;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

