#tools{
    height: 100px;
}

.button{
    display: block;
    width: 48px;
    height: 48px;
    position: fixed;
}

.button.favorite {
    background-image: url('/flashy/public/images/heartIcon.gif');
    right: 0px;
    top: 0px;
}

.button.menu {
    background-image: url('/flashy/public/images/heartIcon.gif');
    right: 0px;
    top: 0px;
}

.button.back {
    background-image: url('/flashy/public/images/back-icon.png');
    left: 0px;
    top: 0px;
}







#deck{
    
}

.card{
    width: 360px;
    height: 240px;
    margin: 0px 80px;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #333;
    text-align: center;
}

.card .view{
    vertical-align: center;
}