<div class="card">
    <div class="view front">
            <p class="header">Top View</p>
            <p>This is the question</p>
    </div>
    <div class="view back" style="display:none;">
            <p class="header">Bottom View</p>
            <p>This is the answer</p>
    </div>
</div>
