<div class="card">
    <div class="view front">
            <p class="header">Front View</p>
            <p class="text">{{ card.back.text }}</p>
    </div>
    <div class="view back" style="display:none;">
            <p class="header">Back View</p>
            <p class="text"><span>{{ card.front.text }}</span></p>
    </div>
</div>
