<div class="card">
    <div class="view front">
            <p>This is the question</p>
            <p>Top View</p>
    </div>
    <div class="view back">
            <p>This is the answer</p>
            <p>Bottom View</p>
    </div>
</div>
