<div class="card">
    <div class="view stacked front">
            <p class="header">Top View</p>
            <textarea class="text">{{ card.back.text }}</textarea>
    </div>
    <div class="view stacked back">
            <p class="header">Bottom View</p>
            <input type="text" class="text" value="{{ card.front.text }}"></input>
    </div>
</div>



            