<div class="deck">
	<h3>
            <a href="/flashy/public/html/player.html?id={{ id }}">
                {{ name }}
            </a>
        </h3>
	<div>Score: {{ score }}</div>
        <div>Difficulty: {{ difficulty }}</div>
<div>