<div class="deck">
	<h4 class="title">
		<a href="/flashy/public/html/player.html?id={{ id }}">
 	       {{ name }}
        </a>
    </h4>
    <div style="display:inline-block;vertical-align:bottom;">
    	<div class="statistics">
    		<div class="data">Favorited: {{ score }}</div>
    		<div class="data">Difficulty: {{ difficulty }}</div>
    	</div>
    	<div class="edit"><a href="#"><i class="fa fa-pencil fa-2x"></i></div>
    </div>
<div>
