<div class="deck">
<<<<<<< HEAD
	<h5 class="title">
		<a href="/flashy/public/html/player.html?id={{ id }}">
 	       {{ name }}
        </a>
    </h5>
    <div class="statistics">Favorited: {{ score }}</div>
    <div class="statistics">Difficulty: {{ difficulty }}</div>
<div>