<div class="deck">
	<h4 class="title">
		<a href="/flashy/public/html/player.html?id={{ id }}">
 	       {{ name }}
        </a>
    </h4>
    <div class="statistics">Favorited: {{ score }}</div>
    <div class="statistics">Difficulty: {{ difficulty }}</div>
<div>