<!DOCTYPE html>
<html>
	<head>
		<title>Card</title>
        
        <!-- Stylesheets -->
        <link rel="stylesheet" href="css/index.css"></link>
        
        <!-- Js -->
        <script type="text/javascript" src="lib/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="js/Flashy.js"></script>
        <script type="text/javascript" src="js/Card.js"></script>
	</head>
	<body>
		<button>Back Button</button>
		<button>Favorite</button>
		<div class="view top">
			<p>This is the question</p>
			<p>Top View</p>
		</div>
		<div class="view bottom">
			<p>This is the answer</p>
			<p>Bottom View</p>
		</div>
	</body>
</html>